# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
*.db

# Node
node_modules/
dist/
.eslintcache

# Project specific
backend/uploads/*
!backend/uploads/.gitkeep
frontend/node_modules/
frontend/dist/
